<a href="https://colab.research.google.com/github/Diegougarcia/Dataset/blob/main/act9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [92]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [93]:
data = pd.read_csv("https://raw.githubusercontent.com/Diegougarcia/Dataset/main/antropometria-dataset-1%20(2).csv")
data.head()

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
0,210295,2,21,PUEBLA,2,38,8,73.70,2,146.4,...,16:30,2,16:35,1,R2101,5,3,1,3470.002176,215
1,101655,3,10,DURANGO,2,11,11,35.65,2,145.1,...,15:25,3,15:25,1,M1041,1,1,1,417.946672,101
2,10287,6,1,AGUASCALIENTES,2,18,8,54.80,1,162.0,...,9:40,1,9:40,1,M0108,5,3,1,472.980811,15
3,91526,4,9,DISTRITO FEDERAL,1,10,8,33.40,2,146.5,...,7:40,3,7:45,1,M0931,4,3,2,1832.581391,94
4,210939,3,21,PUEBLA,2,19,3,97.95,2,161.0,...,6:00,2,6:00,1,M2123,5,3,1,7622.066564,215

In [104]:
corr = data['cadera'].corr(data['peso'])
r_squared = corr ** 2
print("", r_squared)

 0.6038232783357171

In [98]:
correlation = data['peso'].corr(data['sexo'])
print("", correlation)

 -0.12446065372563182

In [103]:
modelo = sm.formula.ols('cadera ~ peso', data=df).fit()
durbin_watson = sm.stats.stattools.durbin_watson(modelo.resid)
print("", durbin_watson)

 2.0015846544838434

In [101]:
modelo = sm.formula.ols('diastol ~ sistol + edad + peso + cintura', data=df).fit()
coeficientes = modelo.params
print("", coeficientes['cintura'])

 0.02016675116144312

In [102]:
modelo = sm.formula.ols('cadera ~ peso', data=df).fit()
residuos = modelo.resid
mediana_residuos = np.median(residuos)
print("", mediana_residuos)

 -0.6495739811776744